

body {
  width:1140px;
  height:1200px;
  border:3px solid;
}

header {
  border-bottom:3px solid gray;
  width:1100px;
  padding:20px;
}
nav {
  float:left;
  border-right:1px solid gray;
  width:270px;
  height:800px;
}
article {
  float:left;
  padding:20px;
  width:800px;
}
article img {
  width:40px;
  height:40px;
  float:right;
}
nav ul {
  list-style:none;
  font-size:20px;
}
